body {
    background-color: #FCFCFC !important;
}

hr, h3 {
    padding-bottom: 20px;
}

canvas {
    background-color: #fffff;
}

.content {
    padding: 0 !important;
}

.chart {
    padding-bottom: 40px;
}

.form-control {
    -webkit-appearance:none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

#title {
    margin-top: 30px;
    margin-bottom: 10px;
}

#controls {
    display: table;
    margin: auto;
    margin-bottom: 25px;
}

#filter-form {
    text-align-last: center;
}

/*****************************************************************************/
/*                             Builder: Advanced                             */
/*****************************************************************************/

.advanced {
  font-family: 'Roboto Mono', monospace;
}

.headline {
  margin-top: 30px;
  margin-bottom: 10px;
}

#command {
  outline: none !important;
}

.no-box-shadow {
  box-shadow: none !important;
}

#command:focus {
  box-shadow: none;
}

#stats:focus {
  box-shadow: none;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.chart-container, .command-container {
    animation: slide-up 0.6s ease;
}
