{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}Correlation{% endblock %}</h3>
{% endblock %}

{% block content %}
  <button type="button" id="controls" class="btn btn-outline-dark text-center" onclick="toggleUpdate()">
    <i id="playpause" class="fas fa-sync-alt fa-spin"></i>
  </button>
  <div class="row">
    <div class="col-6">
      <div>
        <header class="text-center"><h4>Correlation HeatMap</h4></header>
        <hr/>
        <div class="text-center">
          <div id="matrix1"></div>
        </div>
      </div>
    </div>
    <div class="col-6 text-center" style="min-height: 100vh;">
      <header class="text-center"><h4>Slope Intercept</h4></header>
      <hr/>
      <div id="slopeintercept"></div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  var updating = true;

  function toggleUpdate(){
    updating = !updating;
    var icon = document.getElementById("playpause");
    icon.classList.toggle("fa-spin");
    if (updating) {
      update();
    }
  }

  function parse(url, div) {
    var opt = {
      mode: "vega-lite",
      renderer: "svg",
      actions: false
    };
    vegaEmbed("#"+div, url, opt, function(error, result) {
      // result.view is the Vega View, url is the original Vega-Lite specification

    });
  }

  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }

  async function update() {
    while (updating) {
      await sleep(500);
      parse("/corr_matrix", "matrix1");
      parse("/slope_intercept/{{feature1}}/{{feature2}}", "slopeintercept");
    }
  }

  update();
</script>
{% endblock %}