{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Correlation HeatMap{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="charts text-center">
    <div id="matrix1"></div>
  </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  function parse(url, div) {
    var opt = {
      mode: "vega-lite",
      renderer: "svg",
      actions: false
    };
    vegaEmbed("#"+div, url, opt, function(error, result) {
      // result.view is the Vega View, url is the original Vega-Lite specification
      vegaTooltip.vegaLite(result.view, url);
    });
  }

  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }

  async function update() {
    while (true) {
      await sleep(500);
      parse("/corr_matrix", "matrix1")
    }
  }

  update();
</script>
{% endblock %}