{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Dashboard Overview{% endblock %}</h1>
{% endblock %}

{% block content %}
  <button type="button" id="controls" class="btn btn-outline-dark text-center" onclick="toggleUpdate()">
    <i id="playpause" class="fas fa-sync-alt fa-spin"></i>
  </button>
  <div class="charts text-center">
    <div class="row justify-content-center">
    {% for feature in features %}
      <div id="{{feature}}-chart" class="chart"></div>
    {% endfor %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" charset="utf-8">
    var updating = true;
    namespace = '/dashboard';
    var socket;
    var interval;

    function emitter() {
      {% for feature in features %}
      socket.emit('json', {feature: '{{feature}}'});
      {% endfor %}
    }

    function toggleUpdate() {
      updating = !updating;
      var icon = document.getElementById("playpause");
      icon.classList.toggle("fa-spin");
      if (updating) {
        interval = window.setInterval(emitter, 500);
      } else {
        window.clearInterval(interval);
      }
    }

    function parse(spec, div) {
      console.log(spec);

      var opt = {
        mode: "vega-lite",
        renderer: "svg",
        actions: false
      };
      /*
      vegaEmbed("#"+div, spec, opt, function(error, result) {
        // result.view is the Vega View, url is the original Vega-Lite specification
      }); */
      vegaEmbed('#'+div, spec, opt);
    }

    $(document).ready(function() {
      socket = io(namespace);

      socket.on('connect', function() {
          socket.emit('my_event', {data: 'I\'m connected!'});
      });

      interval = window.setInterval(emitter, 500);

      {% for feature in features %}
      socket.on('{{feature}}', function(msg, cb) {
        parse(JSON.parse(msg), "{{feature}}-chart");
      });
      {% endfor %}
    });
  </script>
{% endblock %}