{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Dashboard Overview{% endblock %}</h1>
{% endblock %}

{% block content %}
  <!-- FIXME: Generalize the number of charts that the page fits -->
  <div class="charts text-center" style="min-width:2500;">
    <br><br>
    <div class="row">
      <div id="bar1"></div>
      <div id="bar2"></div>
      <div id="bar3"></div>
      <div id="bar4"></div>
      <div id="bar5"></div>
    </div>
    <br><br>
    <div class="row">
      <div id="bar6"></div>
      <div id="bar7"></div>
      <div id="bar8"></div>
      <div id="bar9"></div>
      <div id="bar10"></div>
    </div>
    <br><br>
    <div class="row">
      <div id="bar11"></div>
      <div id="bar12"></div>
      <div id="bar13"></div>
      <div id="bar14"></div>
      <div id="bar15"></div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    function parse(url, div) {
      var opt = {
        mode: "vega-lite",
        renderer: "svg",
        actions: false
      };
      vegaEmbed("#"+div, url, opt, function(error, result) {
        // result.view is the Vega View, url is the original Vega-Lite specification
        vegaTooltip.vegaLite(result.view, url);
      });
    }

    function sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    }

    async function update() {
      while (true) {
        await sleep(500);
        parse("/maxStats/AIR_TEMPERATURE", "bar1")
        parse("/maxStats/PRECIPITATION", "bar2")
        parse("/maxStats/SOLAR_RADIATION", "bar3")
        parse("/maxStats/SURFACE_TEMPERATURE", "bar4")
        parse("/maxStats/RELATIVE_HUMIDITY", "bar5")

        parse("/minStats/AIR_TEMPERATURE", "bar6")
        parse("/minStats/PRECIPITATION", "bar7")
        parse("/minStats/SOLAR_RADIATION", "bar8")
        parse("/minStats/SURFACE_TEMPERATURE", "bar9")
        parse("/minStats/RELATIVE_HUMIDITY", "bar10")

        parse("/meanStats/AIR_TEMPERATURE", "bar11")
        parse("/meanStats/PRECIPITATION", "bar12")
        parse("/meanStats/SOLAR_RADIATION", "bar13")
        parse("/meanStats/SURFACE_TEMPERATURE", "bar14")
        parse("/meanStats/RELATIVE_HUMIDITY", "bar15")
      }
    }

    update();
  </script>
{% endblock %}