{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Filter Features{% endblock %}</h1>
{% endblock %}

{% block content %}
  <!-- FIXME: Create a more generalized form -->
  <div class="text-center mb-2">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-dark" onclick="toggleUpdate()">
        <i id="playpause" class="fas fa-sync-alt fa-spin" ></i>
      </button>
      <a class="btn btn-outline-dark" data-toggle="collapse" href="#filter-form" role="button" aria-expanded="true"
        aria-controls="filter-form" onclick="toggleCollapse()">
          <i class="fas fa-filter"></i>&nbsp;<i class="fas fa-caret-down" id="collapseButton"></i>
      </a>
    </div>
  </div>
  <div class="row collapse" id="filter-form">
    <div class="col-lg-10 offset-lg-1 card card-body">
      <form action="/interactive" method="post" class="form-inline justify-content-center">
        <div class="form-row justify-content-center">
          <div class="form-group">
            <label for="resolution" class="mr-1 ml-2 mb-3">Resolution</label>
            <select name="resolution" id="resolution" class="form-control form-control-sm mr-2 mb-3" required>
              <option value="daily">Daily</option>
              <option value="monthly">Monthly</option>
            </select>
          </div>
          {% for num in range(1, 3) %}
          <div class="form-group">
            <label for="feature{{num}}" class="mr-1 mb-3">Feature{{num}}</label>
            <select name="feature{{num}}" id="feature{{num}}" class="form-control form-control-sm mr-2 mb-3" required>
              {% for feature in features %}
              <option value="{{feature}}">{{feature}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="statistic{{num}}" class="mr-1 mb-3">Statistic1</label>
            <select name="statistic{{num}}" id="statistic{{num}}" class="form-control form-control-sm mr-2 mb-3" required>
              <option value="mean">mean</option>
              <option value="max">max</option>
              <option value="min">min</option>
            </select>
          </div>
          {% endfor %}
        </div>
      </form>
    </div>
  </div>
  <div id="filterBadges" class="text-center fade show">
    <span class="badge badge-dark py-1" id="resolutionBadge"></span>
    <span class="badge badge-dark">
      <span class="badge badge-light" id="stat1Badge"></span>
      <span id="feature1Badge"></span>
    </span>
    <span class="badge badge-dark">
      <span class="badge badge-light" id="stat2Badge"></span>
      <span id="feature2Badge"></span>
    </span>
  </div>
  <div class="charts text-center" style="min-width:2500;">
    <br><br>
    <div class="row justify-content-center">
      <div id="chart1"></div>
      <div id="chart2"></div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  var updating = true;

  function toggleUpdate(){
    updating = !updating;
    var icon = document.getElementById("playpause");
    icon.classList.toggle("fa-spin");
    if (updating) {
      update();
    }
  }

  function toggleCollapse() {
    var icon = document.getElementById("collapseButton");
    icon.classList.toggle("fa-caret-up");
    icon.classList.toggle("fa-caret-down");
    var badges = document.getElementById("filterBadges");
    badges.classList.toggle("show");
  }

  function parse(url, div) {
    var opt = {
      mode: "vega-lite",
      renderer: "svg",
      actions: false
    };
    vegaEmbed("#"+div, url, opt, function(error, result) {
      // result.view is the Vega View, url is the original Vega-Lite specification
      vegaTooltip.vegaLite(result.view, url);
    });
  }

  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }

  async function update() {
    while (updating) {
      await sleep(500);
      var resolution = document.getElementById("resolution").value;
      var feature1 = document.getElementById("feature1").value;
      var statistic1 = document.getElementById("statistic1").value;
      var feature2 = document.getElementById("feature2").value;
      var statistic2 = document.getElementById("statistic2").value;
      document.getElementById("resolutionBadge").innerHTML = resolution;
      document.getElementById("feature1Badge").innerHTML = feature1;
      document.getElementById("stat1Badge").innerHTML = statistic1;
      document.getElementById("feature2Badge").innerHTML = feature2;
      document.getElementById("stat2Badge").innerHTML = statistic2;
      parse("/generalized_chart/" + feature1 + "/" + statistic1 + "/" + resolution, "chart1");
      parse("/generalized_chart/" + feature2 + "/" + statistic2+ "/" + resolution, "chart2");
    }
  }

  update();
</script>
{% endblock %}