<!DOCTYPE html>
<html lang="en">
<head>
  <title>HeatMap and Location Details</title>
  <meta charset="utf-8">

  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">script></script>
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega@4"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@3.0.0-rc12"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@3"></script>
  <script src="https://vega.github.io/datalib/datalib.min.js"></script>
  <link rel="stlesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/vega-tooltip@0.16.0/vega-tooltip.scss">
  <script src="https://cdn.jsdelivr.net/npm/vega-tooltip@0.16.0/build/vega-tooltip.min.js"></script>
  <style>hr, h3 {padding-bottom: 20px;}canvas {background-color: #fffff;}</style>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li class="active">
      <li><a href="/">Main page</a></li>
      <li><a href="/correlation">Correlation</a></li>
    </ul>
    <h1 align="center">Interactivity Dashboard</h1>
  </div>

    <br><br>
    <div class="charts text-center">
      <form action="/interactive" method="post">
        <select name="resolution">
          <option disabled selected value> -- select a resolution -- </option>
          <option value="daily">Daily</option>
          <option value="monthly">Monthly</option>
        </select>
        <select name="feature1">
          <option disabled selected value> -- select feature 1 -- </option>
          <option value="AIR_TEMPERATURE">AIR_TEMPERATURE</option>
          <option value="PRECIPITATION">PRECIPITATION</option>
          <option value="SOLAR_RADIATION">SOLAR_RADIATION</option>
          <option value="SURFACE_TEMPERATURE">SURFACE_TEMPERATURE</option>
          <option value="RELATIVE_HUMIDITY">RELATIVE_HUMIDITY</option>
        </select>
        <select name="statistic1">
          <option disabled selected value> -- select statistic 1 -- </option>
          <option value="mean">mean</option>
          <option value="max">max</option>
          <option value="min">min</option>
        </select>
        <select name="feature2">
          <option disabled selected value> -- select feature 2 -- </option>
          <option value="AIR_TEMPERATURE">AIR_TEMPERATURE</option>
          <option value="PRECIPITATION">PRECIPITATION</option>
          <option value="SOLAR_RADIATION">SOLAR_RADIATION</option>
          <option value="SURFACE_TEMPERATURE">SURFACE_TEMPERATURE</option>
          <option value="RELATIVE_HUMIDITY">RELATIVE_HUMIDITY</option>
        </select>
        <select name="statistic2">
          <option disabled selected value> -- select a statistic 2 -- </option>
          <option value="mean">mean</option>
          <option value="max">max</option>
          <option value="min">min</option>
        </select>
        <input type="submit">
      </form>
      <br><br><br>
      <h4>resolution: {{resolution}} &nbsp; stats 1: {{statistic1}} &nbsp; feature 1: {{feature1}} &nbsp; stats 2: {{statistic2}} &nbsp; feature 1:  {{feature2}}</h4>
    </div>

    <div class="charts text-center" style="min-width:2500;">
        <br><br>
        <div class="row">
          <div id="chart1"></div>
          <div id="chart2"></div>
        </div>
    </div>
  </div>




     <!--&lt;!&ndash; Render Charts &ndash;&gt;-->
    <script type="text/javascript">
       function parse(url, div) {
        var opt = {
          mode: "vega-lite",
          renderer: "svg",
          actions: false
        };
        vegaEmbed("#"+div, url, opt, function(error, result) {
          // result.view is the Vega View, url is the original Vega-Lite specification
          vegaTooltip.vegaLite(result.view, url);
        });
      }

      function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
      }

      async function update() {
        while (true) {
          await sleep(500);
            parse("/generalized_chart/{{feature1}}/{{statistic1}}/{{resolution}}", "chart1")
            parse("/generalized_chart/{{feature2}}/{{statistic2}}/{{resolution}}", "chart2")
        }
      }

      update();
      console.log("{{statistic1}}");
      console.log("{{statistic2}}");
    </script>

   </body>
</html>